@layer layout {
  .l-main-grid {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1em;

    grid-template-columns: 1fr;

    @media (min-width: 1100px) {
      gap: 2em;
      grid-template-columns:
        minmax(200px, 600px)
        minmax(400px, 720px)
        minmax(40ex, 75ex);
    }
  }
}
