@layer components {
  .c-copy-button {
    display: flex;
    align-items: center;
    gap: 1em;

    &__confirmation {
      opacity: 0;
      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 125ms ease-out;
      }

      &.is-active {
        opacity: 1;
      }
    }
  }
}
