@layer components {
  .c-file-item {
    display: flex;
    align-items: center;
    gap: 1em;
    list-style-type: none;
    padding: 0.75em;
    border: solid var(--border-size)
      light-dark(var(--color-200), var(--color-600));
    border-radius: var(--border-radius);

    &__icon {
      font-size: 1.5em;
      color: currentColor;
      transition: all ease-out 175ms 75ms;
    }
  }
}
