@layer components {
  .c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__right {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}
