@layer components {
  .c-header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
    border-bottom: solid var(--color-main) var(--border-size);

    &__right {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}
