@layer components {
  .c-horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    &__item {
      display: flex;
      align-items: center;
    }

    &__input {
      display: none;
    }
  }
}
