@layer components {
  .c-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &--horizontal {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 1em;

      &__name {
        font-weight: bold;
      }

      &__button {
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      &__icon {
        font-size: 1.5em;
      }
    }
  }
}
