.c-select {
  padding: 0.5rem;
  border: 1px solid var(--color-300);
  border-radius: 0.25rem;
  background-color: var(--color-bg);
  color: var(--color-main);
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}
