@layer elements {
  body {
    font-family: 'Inter', sans-serif;
    margin: 0 2em;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-size: cover;
    background-color: var(--color-bg);
    color: var(--color-main);
    line-height: 1.3;
  }
}
