@layer elements {
  input {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    accent-color: currentColor;
    color: currentColor;
    background: none;
    border: 1px solid currentColor;
    border-radius: 5px;
    padding: 0.5em;
  }
}
